/* Global Styles ---------------------------------------*/
body {
    background-color: #f9f9f9;
    background-image: linear-gradient(135deg, #f0f0f0 25%, transparent 25%),
      linear-gradient(225deg, #f0f0f0 25%, transparent 25%),
      linear-gradient(45deg, #f0f0f0 25%, transparent 25%),
      linear-gradient(315deg, #f0f0f0 25%, transparent 25%);
    background-size: 10px 10px;
    background-position: 0 0, 5px 0, 5px -5px, 0px 5px;
    box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.6);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Container Styles ---------------------------------------*/
  .todo-app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    color: #ffffff;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #e290d3, #d28cd6, #b086d5, #8c82d3);
    padding: 10px;
    border-radius: 4px;
    width: 96%;
    margin-bottom: 20px; /* Espaço entre header e main */
  }
  
  .subhead {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre os elementos */
    flex-wrap: wrap;
  }
  
  .task-status-legend {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre ícone/texto da legenda */
    margin-left: auto; /* Empurra para o canto direito */
  }
  
  .legend-icon {
    font-size: 1.5rem;
  }
  
  .legend-icon.complete {
    color: #0b9341;
  }
  
  .legend-icon.incomplete {
    color: red;
  }
  
  .legend-text {
    font-size: 0.9rem;
    color: #666;
  }


  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    font-size: 2rem;
    color: #ffffff;
  }
  
  .logo svg {
    fill: #ffffff;
    width: 40px;
    height: 40px;
  }
  
  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

 }
  
  .filter-buttons button {
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .filter-buttons button.active {
    background-color: #ffffff;
  }
  
  .filter-buttons button:hover {
    background-color: #ded2de;
  }
  
  /* Main Task List ---------------------------------------*/
  .main {
    background: linear-gradient(135deg, #e290d3, #d28cd6, #b086d5, #8c82d3);
    border-radius: 4px;
    margin: 10px 0;
    height: calc(100vh - 200px); /* Ajustado para ocupar mais espaço */
    width: 100%;
    overflow-y: auto;
  }
  
  .tasks-list {
    padding: 10px;
  }
  
  .main::-webkit-scrollbar {
    width: 0;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    display: flex;
    align-items: center;
    margin: 9px 0;
    justify-content: space-between;
    background-color: #fbf5fb;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .task-list li:hover {
    background-color: #e0e0e0;
  }
  
  .task {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Adicionado para quebra de linha */
  }
  
  .task-title {
    flex: 1;
    color: black;
  }
  
  .task-list input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 2px solid #333;
    cursor: pointer;
    background-color: #423d3d;
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
    appearance: none;
    outline: none;
  }
  
  .custom-checkbox.complete::after {
    content: '\2713';
    font-size: 14px;
    color: #0b9341;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .custom-checkbox.incomplete::after {
    content: '!';
    font-size: 14px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .custom-checkbox.pending::after {
    content: '';
    background-color: #ccc;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .category-task {
    display: flex;
    align-items: center;
    gap: 5px; /* Espaçamento entre categoria e task */
  }
  
  .task-category {
    margin-left: 5px;
    font-weight: bold;
  }
  
  .estudo {
    color: #6a9fe9;
  }
  
  .trabalho {
    color: #bf6ae9;
  }
  
  .casa {
    color: #e96adc;
  }
  
  .completion-date {
    font-size: 0.7rem;
    color: #999;
    margin-left: 10px; /* Ajustado para espaçamento */
  }
  
  /* Add Task Section ---------------------------------------*/
  .add-task-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    background: linear-gradient(135deg, #e290d3, #d28cd6, #b086d5, #8c82d3);
    border-radius: 4px;
    padding: 10px;
  }
  
  .add-task {
    background: linear-gradient(135deg, #e290d3, #d28cd6, #b086d5, #8c82d3);
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 10px;
  }
  
  .add-task-container input[type="text"],
  .add-task-container input[type="date"],
  .add-task-container select,
  .add-task-container button {
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .add-task-container button {
    transition: background-color 0.3s;
  }
  
  .add-task-container button:hover {
    background-color: #ded2de;
  }
  
  /* Delete Button ---------------------------------------*/
  .delete-button {
    background-color: #423d3d;
    color: #aa5ab8;
    border: none;
    padding: 5px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #555;
  }
  
  /* Media Queries for Responsiveness ---------------------------------------*/
  @media (min-width: 600px) {
    .todo-app-container {
      width: 70%;
    }
  
    .header {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 2%;
      height: 15vh;
    }
  
    .subhead {
      gap: 25px;
    }
  
    .main {
      height: 72vh;
    }
  
    .add-task-container {
      flex-direction: row;
      gap: 10px;
    }
  
    .add-task-container input[type="text"] {
      flex: 2;
    }
  
    .add-task-container input[type="date"] {
      flex: 1;
    }
  
    .add-task-container select {
      flex: 1;
    }
  
    .add-task-container button {
      flex: 1;
    }
  }
  